<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.admin.api.manage.mapper.ApiInfoMapper" >
  <resultMap id="BaseResultMap" type="com.admin.api.entity.ApiInfo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="descr" property="descr" jdbcType="VARCHAR" />
    <result column="param_exam" property="paramExam" jdbcType="VARCHAR" />
    <result column="param_expl" property="paramExpl" jdbcType="VARCHAR" />
    <result column="result_exam" property="resultExam" jdbcType="VARCHAR" />
    <result column="result_expl" property="resultExpl" jdbcType="VARCHAR" />
    <result column="user" property="user" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, url, type, descr, param_exam, param_expl, result_exam, result_expl, user, 
    updatetime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.admin.api.entity.ApiInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from api_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from api_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from api_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.admin.api.entity.ApiInfoExample" >
    delete from api_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.admin.api.entity.ApiInfo" >
    insert into api_info (id, name, url, 
      type, descr, param_exam, 
      param_expl, result_exam, result_expl, 
      user, updatetime)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{descr,jdbcType=VARCHAR}, #{paramExam,jdbcType=VARCHAR}, 
      #{paramExpl,jdbcType=VARCHAR}, #{resultExam,jdbcType=VARCHAR}, #{resultExpl,jdbcType=VARCHAR}, 
      #{user,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.admin.api.entity.ApiInfo" >
    insert into api_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="descr != null" >
        descr,
      </if>
      <if test="paramExam != null" >
        param_exam,
      </if>
      <if test="paramExpl != null" >
        param_expl,
      </if>
      <if test="resultExam != null" >
        result_exam,
      </if>
      <if test="resultExpl != null" >
        result_expl,
      </if>
      <if test="user != null" >
        user,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="descr != null" >
        #{descr,jdbcType=VARCHAR},
      </if>
      <if test="paramExam != null" >
        #{paramExam,jdbcType=VARCHAR},
      </if>
      <if test="paramExpl != null" >
        #{paramExpl,jdbcType=VARCHAR},
      </if>
      <if test="resultExam != null" >
        #{resultExam,jdbcType=VARCHAR},
      </if>
      <if test="resultExpl != null" >
        #{resultExpl,jdbcType=VARCHAR},
      </if>
      <if test="user != null" >
        #{user,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.admin.api.entity.ApiInfoExample" resultType="java.lang.Integer" >
    select count(*) from api_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update api_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.descr != null" >
        descr = #{record.descr,jdbcType=VARCHAR},
      </if>
      <if test="record.paramExam != null" >
        param_exam = #{record.paramExam,jdbcType=VARCHAR},
      </if>
      <if test="record.paramExpl != null" >
        param_expl = #{record.paramExpl,jdbcType=VARCHAR},
      </if>
      <if test="record.resultExam != null" >
        result_exam = #{record.resultExam,jdbcType=VARCHAR},
      </if>
      <if test="record.resultExpl != null" >
        result_expl = #{record.resultExpl,jdbcType=VARCHAR},
      </if>
      <if test="record.user != null" >
        user = #{record.user,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null" >
        updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update api_info
    set id = #{record.id,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      descr = #{record.descr,jdbcType=VARCHAR},
      param_exam = #{record.paramExam,jdbcType=VARCHAR},
      param_expl = #{record.paramExpl,jdbcType=VARCHAR},
      result_exam = #{record.resultExam,jdbcType=VARCHAR},
      result_expl = #{record.resultExpl,jdbcType=VARCHAR},
      user = #{record.user,jdbcType=VARCHAR},
      updatetime = #{record.updatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.admin.api.entity.ApiInfo" >
    update api_info
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="descr != null" >
        descr = #{descr,jdbcType=VARCHAR},
      </if>
      <if test="paramExam != null" >
        param_exam = #{paramExam,jdbcType=VARCHAR},
      </if>
      <if test="paramExpl != null" >
        param_expl = #{paramExpl,jdbcType=VARCHAR},
      </if>
      <if test="resultExam != null" >
        result_exam = #{resultExam,jdbcType=VARCHAR},
      </if>
      <if test="resultExpl != null" >
        result_expl = #{resultExpl,jdbcType=VARCHAR},
      </if>
      <if test="user != null" >
        user = #{user,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.admin.api.entity.ApiInfo" >
    update api_info
    set name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      descr = #{descr,jdbcType=VARCHAR},
      param_exam = #{paramExam,jdbcType=VARCHAR},
      param_expl = #{paramExpl,jdbcType=VARCHAR},
      result_exam = #{resultExam,jdbcType=VARCHAR},
      result_expl = #{resultExpl,jdbcType=VARCHAR},
      user = #{user,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>